*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.btn{
    padding: 20px 45px;
    font-size: 30px;
    font-weight: 600;
    margin: 20px auto;
    border: none;
    outline: none;
    background: #4c1d0a;
    border-radius: 5px;
    display: block;
    color: #fff;
    transition: all .1s ;
    cursor: pointer;
}
.btn:active{
    transform: scale(0.98);
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    width: 280px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    color: #fff;
    font-size: 22px;
    border-radius: 10px;
    background: red;
    font-weight: bold;
    margin: 15px;
}